body {
	margin: 0px;
	padding: 0px;
	background-color: gray;
	}
* {
	box-sizing: border-box;
}
#Box1 {
	border: 1px solid black;
	background-color: red;
	position: relative;
	padding: 10px;
	margin: 10px;
	float: left;
	}
#Box1Content {
	float: right;
	border: 1px solid black;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: yellow;
	width: auto;
	padding: 0px 10px 0px 10px;
	}
#Box2 {
	width: 32%;
	border: 1px solid black;
	background-color: brown;
	position: relative;
	padding: 10px;
	margin: 10px;
	float: left;
	}
#Box2Content {
	float: right;
	border: 1px solid black;
	background-color: yellow;
	width: auto;
	padding: 0px 10px 0px 10px;
	margin: -11px -11px 0px 0px;
	}
#Box3 {
	width: 32%;
	border: 1px solid black;
	background-color: white;
	position: relative;
	padding: 10px;
	margin: 10px;
	float: left;
	}
#Box3Content {
	float: right;
	border: 1px solid black;
	background-color: yellow;
	width: auto;
	padding: 0px 10px 0px 10px;
	margin: -11px -11px 0px 0px;
	clear: left;
	}
h1 {
	color: green;
	text-align: center;
	}
h2 {
	color: black;
	text-align: center;
	}
p {
	color: white;
	clear: left;
	padding: 10px;
	}
/* Large */
@media (min-width: 992px) {
	p {
		color: magenta;
		}
	#Box1 {
		width: 32%;
	}
	#Box2 {
		width: 32%;
	}
	#Box3 {
		width: 32%;
		}
}
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
	p {
		color: blue;
	}
	#Box1 {
		width: 45%;
		padding: 0px;
	}
	#Box2 {
		width: 45%;
	}
	#Box3 {
		width: auto;
		clear: left;
	}
}
/* Small */
@media (max-width: 767px) {
	p {
		color: green;
	}
	#Box1 {
		width: auto;
	}
	#Box2 {
		width: auto;
	}
	#Box3 {
		width: auto;
	}
}